// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (c) 2026 YuChia-Kan <mail@raspberrykan.dev>

/dts-v1/;

#include "meson-gxl-s905x.dtsi"

#include <dt-bindings/leds/common.h>
#include <dt-bindings/sound/meson-aiu.h>

/ {
	compatible = "xiaomi,mibox4", "amlogic,s905l", "amlogic,meson-gxlx";
	model = "Xiaomi Mi Box 4 (MDZ-21-AA)";

	aliases {
		serial0 = &uart_AO;
		mmc0 = &sd_emmc_c;
		mmc1 = &sd_emmc_a;
		/delete-property/ mmc2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	av_mute: analog-audio-mute {
		compatible = "simple-audio-amplifier";
		sound-name-prefix = "AV";
		enable-gpios = <&gpio GPIOH_5 GPIO_ACTIVE_HIGH>;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	hdmi_connector: hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&hdmi_tx_tmds_out>;
			};
		};
	};

	cvbs_connector: cvbs-connector {
		compatible = "composite-video-connector";

		port {
			cvbs_connector_in: endpoint {
				remote-endpoint = <&cvbs_vdac_out>;
			};
		};
	};

	hdmi_usb_5v: regulator-hdmi-usb-5v {
		compatible = "regulator-fixed";
		regulator-name = "HDMI_USB_5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio_ao GPIOAO_4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	vddio_boot: regulator-vddio-boot {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_BOOT";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	vddao_3v3: regulator-vddao-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VDDAO_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vddio_ao18: regulator-vddio-ao18 {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_AO18";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	vcc_3v3: regulator-vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VCC_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	emmc_pwrseq: emmc-pwrseq {
		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&gpio BOOT_9 GPIO_ACTIVE_LOW>;
	};

	wifi32k: wifi32k {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		pwms = <&pwm_ef 0 30518 0>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio GPIOX_9 GPIO_ACTIVE_LOW>;
		clocks = <&wifi32k>;
		clock-names = "ext_clock";
		post-power-on-delay-ms = <200>;
	};

	leds: leds {
		compatible = "gpio-leds";

		power_led: power-led {
			color = <LED_COLOR_ID_WHITE>;
			function = LED_FUNCTION_POWER;
			gpios = <&gpio GPIOX_6 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	sound {
		compatible = "amlogic,gx-sound-card";
		model = "Xiaomi-Mi-Box-4";
		audio-aux-devs = <&av_mute>;
		audio-widgets = "Line", "Lineout";
		audio-routing = "AV INL", "ACODEC LOLN",
				"AV INR", "ACODEC LORN",
				"Lineout", "AV OUTL",
				"Lineout", "AV OUTR";

		clocks = <&clkc CLKID_MPLL0>,
			 <&clkc CLKID_MPLL1>,
			 <&clkc CLKID_MPLL2>;
		assigned-clocks = <&clkc CLKID_MPLL0>,
				  <&clkc CLKID_MPLL1>,
				  <&clkc CLKID_MPLL2>;
		assigned-clock-rates = <294912000>, <270950400>, <393216000>;

		dai-link-0 {
			sound-dai = <&aiu AIU_CPU CPU_I2S_FIFO>;
		};

		dai-link-1 {
			sound-dai = <&aiu AIU_CPU CPU_I2S_ENCODER>;
			dai-format = "i2s";
			mclk-fs = <256>;

			codec-0 {
				sound-dai = <&aiu AIU_HDMI CTRL_I2S>;
			};

			codec-1 {
				sound-dai = <&aiu AIU_ACODEC CTRL_I2S>;
			};
		};

		dai-link-2 {
			sound-dai = <&aiu AIU_HDMI CTRL_OUT>;

			codec-0 {
				sound-dai = <&hdmi_tx>;
			};
		};

		dai-link-3 {
			sound-dai = <&aiu AIU_ACODEC CTRL_OUT>;

			codec-0 {
				sound-dai = <&acodec>;
			};
		};
	};
};

&acodec {
	AVDD-supply = <&vddio_ao18>;
	status = "okay";
};

&aiu {
	status = "okay";
};

&cec_AO {
	status = "okay";
	pinctrl-0 = <&ao_cec_pins>;
	pinctrl-names = "default";
	hdmi-phandle = <&hdmi_tx>;
};

&cvbs_vdac_port {
	cvbs_vdac_out: endpoint {
		remote-endpoint = <&cvbs_connector_in>;
	};
};

/*
 * The Mi Box 4 uses a custom efuse layout extracted from the
 * original firmware.
 */

/delete-node/ &eth_mac;
/delete-node/ &sn;
/delete-node/ &bid;

&efuse {
	eth_mac: mac-address@0 {
		reg = <0x00 0x06>;
	};

	bt_mac: mac-address@6 {
		reg = <0x06 0x06>;
	};

	wifi_mac: mac-address@c {
		reg = <0x0c 0x06>;
	};

	usid: serial-number@12 {
		reg = <0x12 0x10>;
	};
};

&ethmac {
	status = "disabled";
};

&hdmi_tx {
	status = "okay";
	pinctrl-0 = <&hdmi_hpd_pins>, <&hdmi_i2c_pins>;
	pinctrl-names = "default";
	hdmi-supply = <&hdmi_usb_5v>;
};

&hdmi_tx_tmds_port {
	hdmi_tx_tmds_out: endpoint {
		remote-endpoint = <&hdmi_connector_in>;
	};
};

&pwm_ef {
	status = "okay";
	pinctrl-0 = <&pwm_e_pins>;
	pinctrl-names = "default";
};

&saradc {
	compatible = "amlogic,meson-gxlx-saradc", "amlogic,meson-saradc";
	status = "okay";
	vref-supply = <&vddio_ao18>;
};

&sd_emmc_a {
	status = "okay";
	pinctrl-0 = <&sdio_pins>;
	pinctrl-1 = <&sdio_clk_gate_pins>;
	pinctrl-names = "default", "clk-gate";
	#address-cells = <1>;
	#size-cells = <0>;
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	max-frequency = <50000000>;
	non-removable;
	no-mmc;
	no-sd;
	disable-wp;
	keep-power-in-suspend;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	mmc-pwrseq = <&wifi_pwrseq>;
	vmmc-supply = <&vddao_3v3>;
	vqmmc-supply = <&vddio_boot>;

	rtl8723ds: wifi@1 {
		reg = <1>;
		nvmem-cells = <&wifi_mac>;
		nvmem-cell-names = "mac-address";
		interrupt-parent = <&gpio_intc>;
		interrupts = <GPIOX_7 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "host-wake";
	};
};

&sd_emmc_b {
	status = "disabled";
};

&sd_emmc_c {
	status = "okay";
	pinctrl-0 = <&emmc_pins>, <&emmc_ds_pins>;
	pinctrl-1 = <&emmc_clk_gate_pins>;
	pinctrl-names = "default", "clk-gate";
	bus-width = <8>;
	cap-mmc-highspeed;
	max-frequency = <100000000>;
	non-removable;
	disable-wp;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	mmc-pwrseq = <&emmc_pwrseq>;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vddio_boot>;
};

&uart_AO {
	status = "okay";
	pinctrl-0 = <&uart_ao_a_pins>;
	pinctrl-names = "default";
};

&usb {
	status = "okay";
	dr_mode = "host";
};

&usb2_phy0 {
	phy-supply = <&hdmi_usb_5v>;
};

&vdec {
	compatible = "amlogic,gxlx-vdec", "amlogic,gx-vdec";
};
